<main class="form-signin">

<div class="container input-group justify-content-md-center">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-6"> 
    <form id='login'>
        <h1 class=" mentalHealth d-flex">Login to your account</h1>

        <div class="input-group mb-3 gap-2">
            <input  class="form-control" id='username' placeholder="username"/>
        </div>

        <div class="input-group mb-3 gap-2">
            <input class="form-control" id='password' placeholder='password' type='password' />
        </div>

        <div class="input-group d-grid gap-2">
        <button class="btn btn-secondary btn-lg" type='submit'>Login</button>
        </div>
       
       
    </form>
    </div>
 
      <div class="col-md-5 col-sm-7">
        <form id='signup'>
            <h1 class="mentalHealth d-flex">Create an account</h1>
            <div class="input-group mb-3 gap-2">
            </div>

            <div class="input-group mb-3 gap-2">
          <input id='signuppassword' class="form-control" placeholder='password' type='password'>
          </div>
            <div class="input-group mb-3 gap-2">
                <input id='signupusername' class="form-control" placeholder='Username' type='input' />
            </div>
            <div class="form-floating d-grid gap-2">
            <button class="btn btn-secondary btn-lg" class="btn-block" type='submit'>Sign Up</button>                
            </div>

        </form>
      </div>
      

</main>
<script src="./js/login.js"></script>